nav ul a,
nav .brand-logo {
  color: white;
}

.col{font-family:Lora,'Times New Roman',serif;font-size:20px;color:#404040}
p {
  line-height: 1.5;
  
}
.button-collapse {
  color: #ee6e73;
}

.parallax-container {
  min-height: 550px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}




 .parallax img 
 {
 	 background-repeat: no-repeat;
 	 background-size: cover;
 }
 .parallax-container
 {
 	color: black;
 }
 @media only screen and (max-width : 600px) {
  .parallax-container
 {
 	color: white;
 }
}
 nav a.button-collapse
 {
 	color:white;
 }
 .purple.lighten-1 {
  background-color: #CC0066 !important;
}
.teal-text.text-lighten-2 {
  color: #CC0066 !important;
}
.share-buttons{
	list-style: none;
}

.share-buttons li{
	display: inline;
}
nav
{
	overflow: visible;
}
nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}



.post-preview > .post-meta {
  color: #808080;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}
.post-preview > .post-meta a{
 color:#616161;	
}
.post-preview > .post-meta a:hover{
color: #26a69a;	
}


.post-preview > a > .post-subtitle {
  margin: 0;
  color:#616161;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview > a > .post-subtitle:hover{
color: #26a69a;	
}
.post-preview > a > .post-title {
  font-size: 36px;
  color:#616161;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post-preview > a > .post-title:hover{
	color: #26a69a;
}

hr {
	height:0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.subTitleFont
{
	 -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 25px/1 "alex-brush", Helvetica, sans-serif;
  
  
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.titleFont
{
	-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 65px/1 "carter-one", Helvetica, sans-serif;
  
  
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;

}


 
.fa{
	 
	color:white;
}
.fa:hover
{
	color:#26a69a;
}