{% extends "base.html" %}
{% block content %}

<div class="caption center-align">
       <h5>This is my about page</h5>
<img class="materialboxed" src="{{url_for('static', filename='/profile_pics/tulla.jpg' )}}" width="1350" height="450" >

</div>



{% endblock content %}