{% extends "base.html" %}
{% block content %}
<div class="content-section">

<form method='POST'>
<div class="row">

    <img class="rounded-circle account-img" src="{{ image_file }}">
    <p class="account-heading">{{current_user.username }}</p>
    <p class="account-heading">{{ current_user.email }}</p>

    <p class="center-align">

        <a id='login_buttons' style="text-align: center;" class="waves-effect waves-light btn "
           href="{{url_for('modify', id=current_user.id)}}">Edit Profile</a>

    </p>

</form>
</div>
{% endblock content %}
