<!DOCTYPE html>
 <html style="overflow-y: scroll" xmlns="http://www.w3.org/1999/html">
    <head>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style type="text/css">
          .mobileShow {display: none;}

          /* Smartphone Portrait and Landscape */
          @media only screen
            and (min-device-width : 320px)
            and (max-device-width : 480px){
              .mobileShow {display: inline;}
          }
        </style>
    </head>
    <body>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">


    <nav class="#00bfa5 teal accent-4">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">Blog template</a>

            <!-- Navbar Right Side -->

            <ul id="nav-mobile" class="left hide-on-med-and-down">

               <li><a class="nav-item nav-link" href="/">Home</a></li>
               <li><a class="nav-item nav-link" href="/about">About</a></li>
            </ul>

            <ul id="nav-mobile" class="right hide-on-med-and-down">

              {% if current_user.is_authenticated %}
                <li><a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a></li>
                <li><a class="nav-item nav-link" href="{{ url_for('new_post') }}">New Post</a></li>
                <li><a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a></li>
               {% else %}
                <li><a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a></li>
                <li><a class="nav-item nav-link" href="{{ url_for ('new_user_form')}}">Register</a></li>
              {% endif %}
          </ul>
        </div>
    </nav>


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
    {% block content %}{% endblock %}
    </body>

  </html>