{% extends "base.html" %}
{% block content %}
<div class='container'>
     <h2 class="border-bottom mb-4">Create a post</h2>
    <form method="POST">



    <div class="row">
        <div class="input-field col s6">
          <input name='title' placeholder="What's your title?" id="title" type="text">
          <label for="title">Title</label>
        </div>
    </div>



    <div class="row">
        <div class="input-field col s6">
          <input name='content' placeholder="Write your content" id="content" type="text">
          <label for="content">Content</label>
        </div>
    </div>


   <button class="btn waves-effect waves-light" type="submit" name="action">Post
    <i class="material-icons right">send</i>
  </button>


    </form>
</div>
{% endblock content %}





