{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="center-align"> Edit User Account</h2>

<form method='POST'>
            <div class="input-field col s3">

                <input name='username' id="username" type="text" value= "{{current_user.username}}"/>
                <label for="username">Change Username</label>
            </div>

           <div class="input-field col s3">
               <input name='email' id="email" type="text" value= "{{current_user.email}}"/>
               <label for="email">Change email</label>
          </div>


       <p class="center-align">
        <button class="btn waves-effect waves-light" name="action" type="submit">Save
            <i class="material-icons right">save</i>
        </button>
        </p>
</form>
</div>
{% endblock %}