{% extends "base.html" %}
{% block content %}

<img class="materialboxed" src="{{url_for('static', filename='/profile_pics/view.jpg' )}}" width="1500" height="500" >

{% for post in posts %}

        <article class="media content-section">
          <div class="container about">
            <div class="article-metadata">

              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>

            <p><a class="article-title" href="{{ url_for('post', id=post.id)}}">{{ post.title }}</a></p>
            <h5 class="article-content">{{ post.content }}</h5>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
