{% extends "base.html" %}

{% block content %}
    <div class="container" id="lform" style="width:30%;">


    <form action="" method="post" novalidate style="text-align: left;">
<p>


</p>

        {{ form.hidden_tag() }}
        <p id='login_username'>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p id='login_password'>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
       {# <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p> #}
        <p class="center-align">
         <a id='login_buttons' style="text-align: center;" class="waves-effect waves-light btn ">{{ form.submit() }}</a>
        </p>
    </form>
        </div>
        <p id="login_info" style="text-align: center;">Please sign or <a href='/new_user'>register</a>.</p>
    </div>
</div>
{% endblock %}
