{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="center-align"> Create User</h2>
    <form action="{{ url_for('new_user_form') }}" class="col s12" method="POST" novalidate style="text-align: center;">
        <div class="row">
            <div class="input-field col offset-s4 s4" >
                <p class="center-align">
                <input id="username" name="username" type="text" class="validate">
                <label for="username">Username</label>
                </p>
                <br>

                <p class="center-align">
                <input id="email" name="email" type="text" class="validate">
                <label for="email">Email</label>
                </p>
                <br>

                <p class="center-align">
                <input id="password" name='password' type="password" class="validate">
                <label for="password">Password</label>
                </p>
                <br>


            </div>
        </div>

        <p class="center-align">
        <button class="btn waves-effect waves-light" name="action" type="submit">Create
            <i class="material-icons right">send</i>
        </button>
        </p>
    </form>
</div>
<div class="input-field col s3">
    <p class="center-align">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
        </small>
    </p>
    </div>
{% endblock %}
