{% extends "base.html" %}
{% block content %}


<div class="center-align">


        <article class="media content-section">
          <div class="media-body">

            <div class="article-metadata">
              <a class="col s1=" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>

            <p>{{ post.title }}</p>
            <h5 class="article-content">{{ post.content }}</h5>

            {% if current_user.username == post.author %}

            <a id='login_buttons' style="text-align: right;" class="waves-effect waves-light btn "
                href="{{url_for('update_post', id=post.id)}}">Update Post</a>

            <a id='login_buttons' style="text-align: left;" class="waves-effect waves-light btn "
                href="{{url_for('delete', id=post.id)}}">Delete Post</a>
            {% endif %}
         </div>
       </article>

</div>

{% endblock content %}
