{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="center-align"> Update post</h2>

<form method='POST'>
            <div class="input-field col s3">
                <input name='title' id="title" type="text" value= "{{post.title}}"/>
                <label for="title">Update post title</label>
            </div>

           <div class="input-field col s3">
               <input name='content' id="content" type="text" value= "{{post.content}}"/>
               <label for="content">Update post content</label>
          </div>

       <p class="center-align">
        <button class="btn waves-effect waves-light" name="action" type="submit">Save
            <i class="material-icons right">save</i>
        </button>
        </p>
</form>
</div>
{% endblock %}